# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/

# C/C++ compiled
*.o
*.out
*.a
*.so

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Results/data large files
*.csv
*.npy
*.npz
